.fonImg {
	margin: 0;
	background-color: gray;
    min-height: 970px !important;
    width: 100%;
    background: url(../img/fon.jpg) #000;
}

.main-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 75px 200px;
}

.logo-wrap {
	height: 60px;
	background-color: black;
	text-align: center;
	background: url(../img/marvel_logo.png) no-repeat;
    background-size: 200px 60px;
}

.menu-wrap {
	width: 200px;
    background: #145b8df2;
    font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
    font-size: 12px;
}

.menu-wrap ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-wrap ul li:hover {
	background-color: #ed1d24;
}

.menu-wrap a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 4px solid #ed1d24;
    font-weight: bold;
}

.active {
	background-color: #ed1d24;
}

.main-content {
	background-color: #0d3a5bc9;
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    padding: 20px;
    min-height: 800px;
    min-width: 800px;  
    margin-left: 50px; 
}

.hero-wrap {
	padding: 10px;
    background-color: #eabcbc2b;
    padding: 0;
    text-align: center;
    margin: 20px;
    border: solid 1px #ed1d24;
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

img {
	    margin: 1px;
}

.card-body__headline {
	font-size: 1em;
    text-align: left;
    color: #fff;
    margin: 15px 5px;
    font-family: fantasy;
    letter-spacing: 1px;
}

.card-body__comicurl {
	text-decoration: none;
	color: #fff;
    text-transform: uppercase;
}

.comic-url {
	background-color: #ed1d24;
    padding: 10px 0px;
}